In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
train = pd.read_csv('/content/drive/MyDrive/AV_22Apr/train.csv')
train.head(10)

         date  hour  demand
0  2018-08-18     9      91
1  2018-08-18    10      21
2  2018-08-18    13      23
3  2018-08-18    14     104
4  2018-08-18    15      81
5  2018-08-18    16      37
6  2018-08-18    17      27
7  2018-08-18    18      66
8  2018-08-18    19      80
9  2018-08-18    20      52

In [5]:
test = pd.read_csv('/content/drive/MyDrive/AV_22Apr/test.csv')
test.head(10)

         date  hour
0  2021-03-01     0
1  2021-03-01     1
2  2021-03-01     2
3  2021-03-01     3
4  2021-03-01     5
5  2021-03-01     6
6  2021-03-01     7
7  2021-03-01     8
8  2021-03-01     9
9  2021-03-01    10